body{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
div{
    text-align: center;
    width: 150;
    height: 150;
}
footer{
    position: relative; bottom: 0;
}
p{
    color: darkgray;
    text-align: center;
}