body{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
div{
    text-align: center;
}
p{
    color: darkgray;
    text-align: center;
}
p.sample {
    color: black;
    margin: 30px 30px;
    padding: 10px;
    border: medium solid rgb(235, 26, 165);
    }